<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>submit</key>
	<string>जमा करें</string>
	<key>textLabel</key>
	<string>अपना नाम दर्ज करें</string>
	<key>textFieldPlaceholder</key>
	<string>यहाँ अपना नाम लिखो</string>
</dict>
</plist>
