<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>submit</key>
	<string>Submit</string>
	<key>textLabel</key>
	<string>Enter your name</string>
	<key>textFieldPlaceholder</key>
	<string>Enter your name here</string>
</dict>
</plist>
